class Config:
    # Discord bot token
	key = ''
	# Sound format in .mp3, even better if in .ogg
	sound_path = 'duck-double.ogg'
	# allowed channel
	wait_time = 3600 # 1 second
	#IsKachnaOpen
	is_kachna_open: str = 'https://www.su.fit.vutbr.cz/kachna/api/states/current'
